@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Rubik', sans-serif !important;
}

.title {font-family: 'K2D', sans-serif;}
.text-green {color: #04543F;}
.text-lightgreen {color: #D4EDD3;}
.text-brown {color: #4D2B0D;}
.text-lightbrown {color: #FAE1B5;}